* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

.rlform-wrapper {
    width: 30%;
    border: .1rem solid black;
    margin: 2rem auto;
    text-align: center;
    padding: 3rem 3.5rem;
    border-radius: .5rem;
}

.rl-instalogo-wrap {
    width: 37%;
    margin: auto;
}

.rl-instalogo-wrap img {
    width: 100%;
    height: 100%;
}

.sg-line {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.act-form-container {
    width: 100%;
    margin-top: 2rem;
}

.fb-rl-in {
    width: 100%;
    border: .1rem solid lightgray;
    border-radius: .2rem;
    background-color: white;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    outline: none;
}

.rl-policy-txt {
    color: rgb(103, 102, 102);
    font-size: 1.4rem;
    margin: 1rem 0;
}

.rl-ex-user-txt {
    color: rgb(46, 46, 46);
    font-size: 1.4rem;
    cursor: pointer;
    margin: 1rem 0;


}

.rl-signup-btn {
    width: 100%;
    padding: .8rem;
    color: white;
    background-color: dodgerblue;
    font-size: 1.6rem;
    font-weight: 550;
    border: none;
    outline: none;
    border-radius: .6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.rl-singin-txt {
    color: dodgerblue;
}

/* -------------------index page------------------------------------ */

.screenContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.navbarWrapper {
    width: 20%;
    border-right: .1rem solid lightgray;
    height: 100vh;
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 3rem;
    position: fixed;
    top: 0;
    left: 0;
}

.mainContentWrapper {
    margin-left: 20%;
    width: 50%;
    /* border: .1rem solid rgb(180, 10, 10); */
    padding-top: 4rem;

}

.rightSideWrapper {
    width: 30%;
    /* border: .1rem solid rgb(7, 118, 57); */
    padding: 4.5rem 1rem 0 5rem;
    font-size: 1.4rem;

}

.instLogoContainer {
    width: 60%;
    cursor: pointer;

}

.instLogoContainer img {
    width: 100%;
    height: 100%;
}

.navlinkWrapper {
    width: 100%;
    margin-top: 1rem;
}

.navlink {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: .5rem;
    padding: .8rem;
    cursor: pointer;
}

.nlIcon {
    font-size: 2rem;
    margin-right: 1.5rem;
}

.navlinkName {
    text-transform: capitalize;
}

.activeLink {
    font-weight: 700;
}

.navlink:hover {
    background-color: rgb(235, 231, 231);
    border-radius: 1rem;
}

.navlink:hover .nlIcon {
    transform: scale(1.1);
    transition: .3s;
}


/* main content wrapper------------------------------ */

.mainStoryContainer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
}

.singleStoryWrap {
    width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.storyImgWrap {
    width: 100%;

}

.storyImgWrap img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: .2rem solid rgb(228, 228, 228);
    padding: .2rem;
    object-fit: cover;
    aspect-ratio: 3/3;
}

.storyUserName {
    font-size: 1.3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* post css */

.mainPostContainer {
    /* border: .2rem solid red; */
    margin-top: 1rem;
    padding: 1rem 7rem;

}

.singlePostWrap {
    width: 100%;
    /* border: .1rem solid blue; */
    margin-top: 2.5rem;
}

.postHeaderSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftheadwrap {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    font-size: 1.4rem;
}

.postProfileImgWrap {
    width: 8%;
    cursor: pointer;
}

.postProfileImgWrap img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 3/3;
}

.PostUserName {
    font-weight: 550;
    cursor: pointer;
}

.divider {
    font-weight: 550;
    color: grey;
}

.postUploadHours {
    font-weight: 550;
    color: grey;
}

.followOpt {
    font-weight: 550;
    color: dodgerblue;
    cursor: pointer;
}

.rightOptionsicon {
    font-size: 1.6rem;
    cursor: pointer;
}

.postContentSection {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postContentSection img {
    width: 100%;
    height: 100%;
}

.postrelOptions {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    cursor: pointer;
}

.leftPostROptions {
    display: flex;
    justify-content: start;
    gap: 1.4rem;
}

.likesCount {
    font-size: 1.4rem;
    font-weight: 550;
    margin-top: .5rem;
}

.postDescSection {

    font-size: 1.4rem;
}

.postUsernamedesc {
    font-weight: 550;

}


/* right side css---------------------------- */

.rightUserAcContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: .1rem solid palegreen; */
}

.leftSideUserAc {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.2rem;
    /* border: .1rem solid palevioletred; */
}

.ProfImgContainer {
    width: 20%;
    cursor: pointer;

}

.ProfImgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 3/3;
}

.rNameInfoWrap {
    display: flex;
    flex-direction: column;
    /* border: .1rem solid blue; */
}

.rUserName {
    font-weight: 550;
    cursor: pointer;
}

.subNamr {
    color: gray;
}

.rightSideUserAc {
    /* border: .1rem solid red; */
    color: dodgerblue;
    font-weight: 550;
    text-transform: capitalize;
    cursor: pointer;
}

.rightSuggWrap {
    /* border: .1rem solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.sugg {
    font-weight: 550;
    color: gray;
}

.seeall {
    font-weight: 550;
    cursor: pointer;

}

.seeall:hover {
    color: gray;
}

.suggestedProfileContainer {
    /* border: .1rem solid red; */
    margin-top: 2rem;
}

.suggestedProfileWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.3rem;
}

.suggLeftSection {
    display: flex;
    /* align-items: center; */
    gap: 1.2rem;
    /* border: .1rem solid peru; */
}

.suggrightSection {
    color: dodgerblue;
    font-weight: 550;
    cursor: pointer;
}

.SRProfileImag {
    width: 13%;
    cursor: pointer;
}

.SRProfileImag img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 3/3;
    border: .1rem solid lightgray;
}

.SRUserName {
    font-weight: 550;
    cursor: pointer;
}

.SRverified {
    color: dodgerblue;
    font-size: 1.2rem;
}

.SRUserFollwed {
    font-size: 1.2rem;
    color: gray;
}

.suggrightSection:hover {
    color: rgb(38, 99, 161);
}

.hrline {
    border: .1rem solid lightgray;
    margin: 1rem 0;
}

/* -----------user profile------------------------------- */

.mainProfileContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rightMainProfileContainer {
    width: 80%;
    margin-left: 20%;
    /* border: .1rem solid red; */
    padding: 3rem 5rem;

}

.UProfileTopSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 3rem;
}

.UProfileLeftSection {
    width: 28%;
    /* border: .1rem solid blue; */
}

.UPofileImag {
    width: 65%;
    margin: auto;

}

.UPofileImag img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 2/2;
    border: .1rem solid lightgray;

}

.UProfileRightSection {
    width: 67%;
    /* border: .1rem solid rgb(90, 59, 3); */
}

.TopUProfileOptions {
    display: flex;
    align-items: center;
}

.UInstaID {
    font-size: 2rem;
    /* font-weight: 550; */
    margin-right: 2.5rem;

}

.EditProfileOption {
    font-size: 1.4rem;
    font-weight: 550;
    text-transform: capitalize;
    background-color: #EFEFEF;
    padding: .7rem 1.6rem;
    border-radius: .5rem;
    margin-right: 2.5rem;
    cursor: pointer;
}

.EditProfileOption:hover {
    background-color: rgb(228, 227, 227);
}

.UProfileSettingOption {
    font-size: 1.8rem;
    cursor: pointer;
}

.MiddleProfileOptions {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.postTxtCountWrap {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.PostCount {
    font-size: 1.6rem;
    font-weight: 550;
    margin-right: .5rem;
}

.PostTxt {
    font-size: 1.6rem;
}

.followersTxtCountWrap {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.followersCount {
    font-size: 1.6rem;
    font-weight: 550;
    margin-right: .5rem;
}

.followersTxt {
    font-size: 1.6rem;
}

.followingTxtCountWrap {
    display: flex;
    align-items: center;
}

.followingCount {
    font-size: 1.6rem;
    font-weight: 550;
    margin-right: .5rem;
}

.followingTxt {
    font-size: 1.6rem;

}

.UProfileBioWrapper {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.UserBio {
    margin-top: .4rem;
}

.UProfileBottomSection {
    /* border: .1rem solid red; */

}

.ProfilePostOptionsWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    /* border: .1rem solid blue; */
    color: gray;
    width: 35%;
    margin: auto;
}

.ProfileOptionConatainer {
    cursor: pointer;
}

.postOptName {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 550;
    margin-left: .5rem;
}

.activePOpt {
    color: black;
    border-top: 1px solid #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mainProfilePostContainer {
    /* border: .1rem solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: .4rem;
    margin-top: .5rem;

}

.PflPostImage {
    width: 33%;
    margin-bottom: .4rem;
    position: relative;
}

.PflPostImage img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;
}

.footerWrapper {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerLink {
    margin-right: 1rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: gray;

}

.copyrightFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.footer {
    width: 100%;
}

/* add post------------------------------------------ */

.addpostwrapper {
    width: 60%;
    /* border: .1rem solid blue; */
    margin: 7rem auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.leftapcontainer {
    width: 50%;
    /* border: .1rem solid palegreen; */
}

.rightapcontainer {
    width: 50%;
    /* border: .1rem solid plum; */
    padding: 3rem 4rem 2rem 4rem;
}

.apimgwrap {
    width: 100%;
    height: 100%;
}

.apimgwrap img {
    width: 100%;
    height: 100%;
}

.formaheading {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.faInput {
    width: 100%;
    margin-bottom: 1.5rem;
    outline: none;
    border: .1rem solid lightgray;
    border-radius: .4rem;
    padding: .8rem;
}

.abtn {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    font-weight: 550;
    text-align: center;
    padding: .8rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
}

.abtn:hover {
    background-color: rgb(17, 136, 255);
}

#addstoryscreen .abtn {
    margin-top: 8rem;
}

.overlayIcon {
    color: white;
    font-size: 1.4rem;
    font-weight: 550;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.416);
    cursor: pointer;

}

.PflPostImage:hover .overlay {
    opacity: 1;
}

.ovicon {
    font-size: 1.4rem;
    margin-right: 2rem;
    font-weight: 700;
}

.ovicon i {
    margin-right: .5rem;
}


/* footer------------------- */

.footerlinksi {
    margin-top: 3rem;
}

.linksflink {
    color: rgb(199, 199, 199);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 550;
    margin-top: .6rem;

}

.linksflink span {
    margin-right: .4rem;
}

.copyrightltxt {
    color: rgb(199, 199, 199);
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 550;
}

.rightsidesearchcontent {
    margin-left: 20%;
    /* border: .1rem solid red; */
}

.sidebar {
    width: 35%;
    height: 42rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 12%;
    padding: 1.5rem 2rem;
}

.searchForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchtxt {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.searchInput {
    width: 75%;
    border: .1rem solid lightgray;
    outline: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: .6rem;

}

.searchTxtBtn {
    width: 23%;
    border: none;
    outline: none;
    background-color: dodgerblue;
    font-size: 1.5rem;
    font-weight: 550;
    color: white;
    padding: 1rem;
    border-radius: .6rem;
    text-transform: capitalize;
    cursor: pointer;

}

.searchResultContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.SearchResName {
    width: 75%;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;

}

.searchresFollowtxt {
    width: 23%;
    font-size: 1.5rem;
    color: dodgerblue;
    font-weight: 550;
    padding: 1rem;
    cursor: pointer;
}

.AddPostSreenContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right-add-post-container {
    margin-left: 20%;
    padding: 3rem;
    width: 80%;
}

.settingshead {
    font-size: 2.4rem;
    font-weight: 550;
}

.settingConatiner {
    display: flex;
    border: .1rem solid lightgray;
    border-radius: .5rem;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    margin-top: 2rem;

}

.leftSettingsWrapper {
    width: 30%;
    padding: 3rem;
    font-size: 1.4rem;
}

.rightSettingsWrapper {
    width: 70%;
    border-left: .1rem solid lightgray;
    padding: 4rem;
}

.pwrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.metalogowrap {
    width: 12%;
    padding: .6rem .2rem .2rem .2rem;
}

.metalogowrap img {
    width: 100%;
    height: 100%;
}

.metattxtep {
    width: 88%;
    font-size: 1.8rem;
    font-weight: 550;

}

.acConatainer {
    font-size: 1.6rem;
    font-weight: 550;
    text-transform: capitalize;
    margin-top: 1rem;
}

.metasettingContent {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.leftTopMetaOpt {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.leftTopMetaOptContent {
    font-size: 1.2rem;
    margin-left: .8rem;
}

.ACenterTxt {
    font-size: 1.6rem;
    color: dodgerblue;
    font-weight: 550;
    margin-top: 1rem;
}

.hrlineSetting {
    margin: 2rem 0 1rem 0;
}

.slefteditPr {
    font-size: 1.4rem;
    font-weight: 550;
}

.leftbottomp {
    font-size: 1.4rem;
    margin: 1.5rem 0 0 0;
}

.swpTxt {
    color: dodgerblue;
    font-weight: 550;
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.srsEditPrTxt {
    font-size: 2.4rem;
    font-weight: 400;
}

.setting_input_wrap {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.setLable {
    font-size: 1.6rem;
    font-weight: 500;
    width: 20%;
    text-align: right;
}

.setInputfield {
    width: 76%;
    padding: .6rem;
    border: .1rem solid lightgray;
    border-radius: .5rem;
    outline: none;
}

.editProfileFormWrapper {
    width: 90%;
    margin: 1.5rem auto;
}

.setRSubBtn {
    background-color: dodgerblue;
    color: white;
    font-weight: 550;
    border: none;
    outline: none;
    padding: .6rem 1.8rem;
    border-radius: .8rem;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: left;
}

.editProfileFormWrapper .setting_input_wrap:nth-child(4) .setInputfield {
    border: none;
}

.Settingfooter {
    padding: 0 6rem;
}

.settingProfileImgnameWrapper {
    width: 88%;
    margin: 3rem auto;
    /* border: .1rem solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.leftSettingPrImgside {
    /* border: .1rem solid blue; */
    width: 20%;
}

.rifgtsettingNameSide {
    width: 76%;
    /* border: .1rem solid palegreen; */
}

.setPrImageContainer {
    width: 100%;
    /* border: .1rem solid red; */
    height: 100%;
}

.setPrImageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: .1rem solid rgb(232, 232, 232);
    object-fit: cover;
    aspect-ratio: 2/2;
}

.setPrUserName {
    font-size: 1.8rem;
    font-weight: 500;
    padding: .4rem;
    width: 100%;
    border-radius: .4rem;

}

.setPrUserbio {
    font-size: 1.8rem;
    padding: .4rem;
    width: 100%;
    border-radius: .4rem;
}

/* search slider  */
.slidenavContsiner {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    margin-top:   -1.5rem;
    /* border: .2rem solid goldenrod; */
    background-color: white;

}

.leftSlideNav {
    width: 18%;
    /* border: .1rem solid red; */
    padding: 0 1rem;
    height: 100%;
    background-color: white;

}

.rightslideSearch {
    width: 82%;
    border-left: .1rem solid lightgray;
    height: 100%;
    background-color: white;
}

.smaallinstalogowrap {
    width: 70%;
    padding: .5rem;
    margin: 4.5rem 0 3rem 0;
}

.smaallinstalogowrap img {
    width: 100%;
    height: 100%;
}

.leftslideMenuWrap {
    width: 100%;
    margin-top: 3rem;
}

.leftslnavlinkwrap {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin: 1.8rem 0;
}

/* sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    border: .1rem solid lightgray;
}

.sidenav a {
    /* padding: .8rem .8rem .8rem 3.2rem; */
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 2.5rem;
    font-size: 3.6rem;
    margin-left: 5.8rem;
}

@media screen and (max-height: 45rem) {
    .sidenav {
        padding-top: 1.5rem;
    }

    .sidenav a {
        font-size: 1.8rem;
    }
}

/* ------------ Search ------------ */


.searchbarWrapper {
    width: 100%;
}

.searchslinputf {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 1.4rem;
    background-color:rgb(234, 234, 234);
    border-radius: .5rem;
    outline: none;
    border: none;
}

.searchFooter {
    width: 100%;
    padding: 1.5rem;
}

.list {
    width: 100%;
    font-size: .9rem;
    /* margin-left: 90px; */
}

.searchResWrapper {
    width: 100%;
    /* border: 1px solid salmon; */
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    margin-bottom: .7rem;
    cursor: pointer;
    padding: .5rem;
    border-radius: .7rem
}

.searchResWrapper:hover {
    background-color: #eae6e6;
}

.searchResult {
    display: contents;
    font-size: 1.6rem;
    font-weight: 550;
}

.searchHeader {
    width: 100%;
    padding: 1.5rem;
    border-bottom: .1rem solid lightgray;
}

.searchslTxt{
    margin-top: 2.6rem;
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 550;
}

.divImg {
    width: 15%;
}

.divImg img {
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: cover;
    border-radius: 100%;
}
